:root{
    --brand-color-blue: #2196F3;
    --brand-color-black: #212121;
    --brand-color-grey: #757575;
    --brand-color-white: #FFFFFF;
    --brand-footer-color-grey:rgba(255, 255, 255, 0.6);
    --brand-background-dark: #2F303A;
    --brand-background-main: #E5E5E5;
    --

}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-black);
    background-color: var(--brand-color-white);
}

h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,1875;
}
h3:hover, h3:focus {
    text-decoration: underline var(--brand-color-blue);
}
h4{
    font-weight: 700;
        font-size: 18px;
        line-height: 2;        
}
h4:hover, h4:focus{
    text-decoration: underline var(--brand-color-blue);
}

.header-two{
    font-weight: 700;
        font-size: 36px;
        line-height: 1,1667;
}
.header-two:hover, .header-two:focus{
    text-decoration: underline var(--brand-color-blue);
}
.portfolio-filter{
    color: var(--brand-color-grey);
    font-weight: 400;
        font-size: 16px;
        line-height: 1,875;
}
.portfolio-filter:hover, portfolio-filter:focus{
    text-decoration: underline var(--brand-color-blue);
}


.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--brand-color-black);
    text-decoration: none;
}
.logo:hover,.logo:focus {
    text-decoration: underline var(--brand-color-blue);
}

.brand-color-blue{
   color: var(--brand-color-blue);
}

.menu-link{
text-decoration: none;
font-size: 14px;
font-weight: 500;
color: var(--brand-color-black);
}

.menu-link:hover{
text-decoration: underline var(--brand-color-blue);
}
.menu-link:focus{
text-decoration: underline var(--brand-color-blue);
}

.menu-link-activ{
    text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: var(--brand-color-blue);
    }
.menu-link-activ:hover{
text-decoration: underline var(--brand-color-blue);
}
.menu-link-activ:focus{
text-decoration: underline var(--brand-color-blue);
}

.menu-contact-link{
    color: var(--brand-color-grey);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.menu-contact-link:hover{
    color: var(--brand-color-blue);
    text-decoration: underline var(--brand-color-blue);
}

.menu-contact-link:focus {
    color: var(--brand-color-blue);
    text-decoration: underline var(--brand-color-blue);
}

.header-one{
    color: #fff;
        background-color: #2f303a;
        height: 600px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1, 36em;
        text-align: center;
        padding: 275px 0px 0px 0px;
    }

.header-one-button {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
    border: none;
}

.lorem-p{
    font-weight: 400;
        font-size: 14px;
        line-height: 1,714;
        color:var(--brand-color-grey);
}
.lorem-p:hover, .lorem-p:focus {
    text-decoration: underline var(--brand-color-blue);
}


.team-name {
    font-weight: 500;
    padding: 30px 0 10px 0;
}
.team-name:hover,.team-name:focus {
    text-decoration: underline var(--brand-color-blue);
}

.team-job {
    color: #757575;
    font-weight: 400;
}
.team-job:hover, .team-job:focus {
    text-decoration: underline var(--brand-color-blue);
}


.footer{
    background-color: var(--brand-background-dark);
    color: var(--brand-color-white)
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
    text-decoration: none;
}
.footer-logo:hover,.footer-logo:focus {
    text-decoration: underline var(--brand-color-blue);
}


.footer-link-address{
    font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
        color: var(--brand-color-white);
        text-decoration:none;

}
.footer-link-address:hover,.footer-link-address:focus {
    text-decoration: underline var(--brand-color-blue);
}

.footer-link-address:hover {
    color: #2196f3;
}
.footer-link-contact::hover {
    color: #2196f3;
}


.footer-link-contact {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 1, 713em;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link-contact:hover,
.footer-link-contact:focus {
    text-decoration: underline var(--brand-color-blue);
}

.img-style:hover, .img-style:focus{
    border: 2px solid var(--brand-color-blue)
}


.active-blue{
    color: var(--brand-color-blue);
}

.portfolio-button {
    background-color: #f5f4fa;
    height: 38px;
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.03em;
}
.portfolio-button:hover,.portfolio-button:focus {
    text-decoration: underline var(--brand-color-blue);
}